<form class="fc-form middle" method="post" action="/sessions">
  <label for="user-name">Name of user:</label>
  <input type="text" name="user[name]" id="user-name">
  <label for="user-password">Password:</label>
  <input type="password" name="user[password]" id="user-password">

  <input class="play-button success" type="submit" value="Login">
</form>
