
<h1 class="middle">WEB FLASHCARD GAME</h1>

<a href="/entries/new" class="login-button">Login</a>

<h3 class="middle">Deck <%= @deck.id %></h3>

<ol>
  <% @cards.each do |card| %>
    <li class="middle no-bullets"> Question: <%= card.question %>? Answer: <%= card.answer %>
    </li>
  <% end %>
<ol>
