

<h3 class="middle">Deck <%= @deck.id %></h3>

<ol>
  <% @cards.each do |card| %>
    <li class="middle no-bullets"> Question: <%= card.question %>? Answer: <%= card.answer %>
    </li>
  <% end %>
<ol>

<form method="post" action="/rounds">
  <input type="hidden" name="deck[id]" value="<%= @deck.id %>">

  <input type="submit" value="Play this deck!">
</form>
